{% load i18n %}
{% load account_tags %}


<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
        <p class="navbar-text">
            <i class="fa fa-user"></i> {% user_display request.user %}
        </p>
        <li>
            <a id="logout" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        {% url "login" as login_url %}
        <li>
            {% blocktrans %}<a href="{{ login_url }}">Log in</a>{% endblocktrans %}
        </li>
        {% url "register" as register_url %}
        <li>
            {% blocktrans %}<a href="{{ register_url }}">Sign up</a>{% endblocktrans %}
        </li>
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
</form>
